@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar-nav navbar-right">
            <li class="position-relative" id="notificationLogo">
                <a href="#" class="nav-link">
                    <i class="bi bi-bell text-white" data-bs-toggle="popover"></i>
                    <span class="badge rounded-pill bg-danger" id="js-notifications-count">

                    </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Identity.GetUserName()
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Gigs I'm going", "Attending", "Gig", new { area = "" }, new { @class = "dropdown-item" })</li>
                    <li>@Html.ActionLink("Artists I'm following", "Following", "Following", new { area = "" }, new { @class = "dropdown-item" })</li>
                    <li>@Html.ActionLink("My Upcoming Gigs", "MyGigs", "Gig", new { area = "" }, new { @class = "dropdown-item" })</li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class=" dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
            

        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}


