@using GigHub.Models
@using Microsoft.AspNet.Identity
@model GigHub.View_Models.GigsViewModel

@{
    ViewBag.Title = "Home Page";
    
}

@if (Model.IsAuthenticatedUser)
{
    <h1>@Model.Heading</h1>
}
else
{
    <h1>Upcoming Gigs</h1>
}


<ul class="gigs mt-4">
    @foreach (var gig in @Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                @if (Model.IsAuthenticatedUser)
                {
                    <span class="artist">
                        @gig.Artist.Name <button data-artist-id="@gig.ArtistId" id="followButton" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    </span>
                }
                else
                {
                    <span class="artist">
                        @gig.Artist.Name
                    </span>
                }

                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.IsAuthenticatedUser)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance"> Going ?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        //?Ready event of jQuery's document object: To be triggered when the document is ready
        $(document).ready(function () { 

            //?*****************************************Going button*****************************************//
            //Subscribe to the click event of the button with a class js-toggle-attendance
            $(".js-toggle-attendance").click(function (event) { 
                //From the event we can get its source
                var button = $(event.target) 
                // AJAX POST request
                $.post(
                    //URL of the request
                    "/api/attendances",
                    //Data to be sent in the request body 
                    { gigId: button.attr("data-gig-id") }   
                )
                    //Promise of the post request
                    .done(function () {
                        button//Get the button
                        .removeClass("btn-default") //Remove the class
                        .addClass("btn-info") //Add a new class
                        .text("Going");//Change the label
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });

            //?*****************************************Following button*****************************************//
            //Subscribe to the click event of the button with a class js-toggle-follow
            $(".js-toggle-follow").click(function (event) {
                //Get the source of the event
                var button = $(event.target);

                //Ajax POST request:
                $.post(
                    //URL of the request
                    "/api/followings/",
                    //Data to be send in the request body
                    { artistId: button.attr("data-artist-id") }
                )
                    //Promise of the Post request
                    .done(function () {
                        button.text("Followed");
                    })
                    .fail(function () {
                        alert("Something failed :(")
                    });

            });

        });
    </script>
}