@using GigHub.Models
@using Microsoft.AspNet.Identity
@model GigHub.View_Models.GigsViewModel

@{
    ViewBag.Title = "Home Page";
    
}



@if (Model.IsAuthenticatedUser)
{
    <h1>@Model.Heading</h1>
}
else
{
    <h1>Upcoming Gigs</h1>
}

@using (Html.BeginForm("Search", "Gig"))
{
    <div class="form-group">
        <div class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" , placeholder = "Search by Artist, Genre or Location"})
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>
}
<ul class="gigs mt-4">
    @foreach (var gig in @Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="container-fluid details">
                @if (Model.IsAuthenticatedUser)
                {
                    
                    <div class="row">
                        <div class="col-2 p-0">
                            @Html.ActionLink(gig.Artist.Name, "Details", "Gig", new { gigId = gig.Id }, new { @class = "text-decoration-none" })
                        </div>
                        <div class="col-1 p-0">
                            <button data-artist-id="@gig.ArtistId" class="btn btn-primary btn-sm js-toggle-follow" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="followButton">
                                Follow
                            </button>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-2  p-0">
                            @gig.Genre.Name
                        </div>
                        <div class="col-1 p-0">
                            @if (Model.IsAuthenticatedUser && !gig.IsCanceled)
                            {
                                
                                <button 
                                    data-gig-id="@gig.Id" 
                                    class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-success" : "btn-secondary")  btn-sm js-toggle-attendance" 
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        @(Model.Attendances.Contains(gig.Id) ? "Attending" : "Going?")
                                </button>
                            }

                            @if (gig.IsCanceled)
                            {
                                <span class="badge text-bg-warning">Cancelled</span>
                            }
                        </div>
                    </div>
                   
                }
                else
                {
                    <span class="artist">
                        @Html.ActionLink(gig.Artist.Name, "Details", "Gig", new { gigId = gig.Id }, new { @class = "text-decoration-none" })


                        @if (gig.IsCanceled)
                        {
                            <span class="label label-warning">Canceled</span>
                        }
                    </span>
                }


            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        //?Ready event of jQuery's document object: To be triggered when the document is ready
        $(document).ready(function () { 

            //?*****************************************Going button*****************************************//
            //Subscribe to the click event of the button with a class js-toggle-attendance
            $(".js-toggle-attendance").click(function (event) { 
                //From the event we can get its source
                var button = $(event.target) 

                //Check if the attendance does not exist (Button has the btn-seconday)
                if (button.hasClass("btn-secondary")) {
                    // AJAX POST request
                    $.post(
                        //URL of the request
                        "/api/attendances",
                        //Data to be sent in the request body 
                        { gigId: button.attr("data-gig-id") }
                    )
                        //Promise of the post request
                        .done(function () {
                            button//Get the button
                                .removeClass("btn-secondary") //Remove the class that indicates the user isn't attending
                                .addClass("btn-success") //Add the class that indicates the user is attending
                                .text("Attending");//Change the label
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                }
                //If the attendance already exist, delted
                else {
                    $.ajax({
                        /*
                            Add an ID that uniquely identify an attendance for the currently logged-in user.
                            The keys for attendance are a combination of the User ID and the Gig ID, however we
                            should't expose the UserID in the API, so we should only send the Gig ID. 
                            */
                        url: "/api/attendances/CancelAttend/?id=" + button.attr("data-gig-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button //Get the button
                                .removeClass("btn-success") 
                                .addClass("btn-secondary")
                                .text("Going?")
                        })
                        .fail(function () {
                            alert("Something failed")
                        })
                }

                
            });

            //?*****************************************Following button*****************************************//
            //Subscribe to the click event of the button with a class js-toggle-follow
            $(".js-toggle-follow").click(function (event) {
                //Get the source of the event
                var button = $(event.target);

                //Ajax POST request:
                $.post(
                    //URL of the request
                    "/api/followings/",
                    //Data to be send in the request body
                    { artistId: button.attr("data-artist-id") }
                )
                    //Promise of the Post request
                    .done(function () {
                        button.text("Followed");
                    })
                    .fail(function () {
                        alert("Something failed :(")
                    });

            });

        });
    </script>
}