@model GigHub.Core.View_Models.GigDetailsViewModel

@{
    ViewBag.Title = "Gig's Details";
}
@if (Model.IsAuthenticatedUser)
{
    <div class="d-flex flex-row">
        <h2>@Model.ArtistName</h2>

        <button data-artist-id="@Model.Gig.ArtistId"
                class="btn @(Model.Followings.Contains(@Model.Gig.ArtistId) ? "btn-success" : "btn-primary") btn-sm m-2 js-toggle-follow">

            @(Model.Followings.Contains(@Model.Gig.ArtistId) ? "Following" : "Follow")

        </button>
    </div>

    <span>
        <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("t") </p>
    </span>

    if (@Model.IsAuthenticatedUser && @Model.IsAttending)
    {
        <span>
            You are going to this event
        </span>
    }
}
else
{
    <h2>@Model.ArtistName</h2>
    <div>
        <span>
            <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("t") </p>
        </span>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {

            GigsDetailsController.init();
        })
    </script>
}




