@model GigHub.View_Models.GigDetailsViewModel

@{
    ViewBag.Title = "Gig's Details";
}

@*
    1. Details of the Gig. Gigs/Details/GigId

            For only logged-in users:
                a. A Following button should be displayed.

                b. If the currently logged-in user is following the artist, the button should be blue and the label should say Following
                   Otherwise it should be white and the label should be follow.

                c. If the currently logged-in user is going to the event, we should have a paragraph saying "You are going to this event"

*@



@if (Model.IsAuthenticatedUser)
{
    <div class="d-flex flex-row">
        <h2>@Model.ArtistName</h2>
        @if (Model.IsFollowingTheArtist)
        {
            <button data-artist-id="@Model.Gig.ArtistId" id="unfollowButton" class="btn btn-primary btn-sm m-2 js-toggle-unfollow">Following</button>
        }
        else
        {
            <button>Follow</button>
        }
    </div>
    
    <span>
        <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("t") </p>
    </span>

    <span>
        You are going to this event
    </span>
}
else
{
    <h2>@Model.ArtistName</h2>
    <div>
        <span>
            <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("t") </p>
        </span>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            //?*****************************************Unfollowing button*****************************************//
            //Subscribe to the click event of the button with a class js-toggle-unfollow
            $(".js-toggle-unfollow").click(function (event) {
                //Get the source of the event
                var button = $(event.target);

                //Call the Delete Ajax request
                $.ajax({
                    url: '/api/followings/unfollow/?' + button.attr("data-artist-id"),
                    type: 'DELETE',
                    success: function(response) {
                        console.log('DELETE request successful');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error making DELETE request:', error);
                    }
                });
            })


        })
    </script>
}




